body {
  font-family: 'Segoe UI', sans-serif;
  background: #121212;
  color: #ffffff;
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #1e1e1e;
  padding: 25px;
  border-radius: 10px;
  width: 360px;
}

h2 {
  text-align: center;
  color: #4caf50;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  font-size: 16px;
  background: #2e2e2e;
  padding: 10px;
  border-radius: 5px;
  color: #00e676;
}
